<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_0_w_0_0_attack_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1526},{125,149}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1910},{125,135}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,63},{125,135}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1780},{125,143}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,55},{125,143}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1526},{125,147}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,51},{125,147}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1526},{125,149}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1907},{125,139}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,59},{125,139}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1653},{125,145}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,53},{125,145}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1802},{125,147}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{125,147}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1145},{125,151}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,47},{125,151}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1272},{125,133}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,65},{125,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1653},{125,143}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,55},{125,143}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1653},{125,147}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,51},{125,147}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1802},{125,147}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{125,147}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1653},{125,143}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,55},{125,143}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1653},{125,147}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{125,147}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1399},{125,149}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1018},{125,153}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,45},{125,153}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1145},{125,133}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,65},{125,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1800},{125,143}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,55},{125,143}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1403},{125,149}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1145},{125,151}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,47},{125,151}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1780},{125,141}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,57},{125,141}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1802},{125,147}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{125,147}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1757},{125,151}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,47},{125,151}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1653},{125,147}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,49},{125,147}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1526},{125,143}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,55},{125,143}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1399},{125,149}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1399},{125,149}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{125,153}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,45},{125,153}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1399},{125,137}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,61},{125,137}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1526},{125,145}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,53},{125,145}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1399},{125,149}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1145},{129,149}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,49},{129,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,129},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1272},{125,149}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,129},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{125,151}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,47},{125,151}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,129},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{125,151}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,47},{125,151}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,637},{125,157}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1276},{125,149}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,637},{125,157}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1272},{125,149}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{125,161}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,37},{125,161}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{125,151}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,47},{125,151}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{125,161}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,37},{125,161}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1145},{125,151}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,47},{125,151}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,637},{125,157}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1145},{125,149}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,129},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1145},{125,149}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{125,161}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,37},{125,161}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1018},{125,151}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,47},{125,151}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{125,161}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,37},{125,161}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1018},{125,151}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,47},{125,151}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{125,161}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{125,161}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1018},{125,151}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,47},{125,151}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,161}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{125,161}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1018},{125,151}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,47},{125,151}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,129},{125,159}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1272},{125,149}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1272},{125,149}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,49},{125,149}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,891},{125,157}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,891},{125,157}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,891},{125,157}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,891},{125,157}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,891},{125,157}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,637},{125,159}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{125,157}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,764},{125,157}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,764},{125,157}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,764},{125,157}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,764},{125,157}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,764},{125,157}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,637},{125,159}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{125,159}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,510},{125,159}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{125,157}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,41},{125,157}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,510},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,510},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,510},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,510},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,383},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,383},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,383},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,383},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,383},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,256},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,256},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,256},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,256},{125,159}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,256},{125,159}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,39},{125,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainRun.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d610e0d2675d0a228a18a6246c8f579$</string>
            <key>textureFileName</key>
            <string>MainRun.png</string>
        </dict>
    </dict>
</plist>
