<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6_0_w_0_0_attack_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{85,47}}</string>
                <key>offset</key>
                <string>{-70,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{85,47}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{37,51}}</string>
                <key>offset</key>
                <string>{28,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,58},{37,51}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,551},{23,37}}</string>
                <key>offset</key>
                <string>{44,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,82},{23,37}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{93,37}}</string>
                <key>offset</key>
                <string>{21,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,82},{93,37}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{93,39}}</string>
                <key>offset</key>
                <string>{-48,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,54},{93,39}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,492},{57,39}}</string>
                <key>offset</key>
                <string>{-14,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,59},{57,39}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,529},{49,33}}</string>
                <key>offset</key>
                <string>{29,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,77},{49,33}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,542},{49,35}}</string>
                <key>offset</key>
                <string>{32,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,79},{49,35}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,311},{41,51}}</string>
                <key>offset</key>
                <string>{-53,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,33},{41,51}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,536},{51,51}}</string>
                <key>offset</key>
                <string>{47,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,63},{51,51}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,70},{85,41}}</string>
                <key>offset</key>
                <string>{37,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,86},{85,41}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,147},{83,47}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,81},{83,47}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,529},{45,29}}</string>
                <key>offset</key>
                <string>{16,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,61},{45,29}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,99},{83,33}}</string>
                <key>offset</key>
                <string>{-45,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,68},{83,33}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,45},{87,23}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,80},{87,23}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,589},{29,29}}</string>
                <key>offset</key>
                <string>{29,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,77},{29,29}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,503},{37,49}}</string>
                <key>offset</key>
                <string>{-15,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,30},{37,49}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{93,41}}</string>
                <key>offset</key>
                <string>{44,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,75},{93,41}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,43}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,87},{99,43}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,61},{29,55}}</string>
                <key>offset</key>
                <string>{-30,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,75},{29,55}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{85,37}}</string>
                <key>offset</key>
                <string>{70,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,43},{85,37}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,563},{41,21}}</string>
                <key>offset</key>
                <string>{-32,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,88},{41,21}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,563},{35,43}}</string>
                <key>offset</key>
                <string>{-47,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,80},{35,43}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,43},{87,35}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,73},{87,35}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{57,29}}</string>
                <key>offset</key>
                <string>{63,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,56},{57,29}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{65,27}}</string>
                <key>offset</key>
                <string>{-52,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,79},{65,27}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{83,33}}</string>
                <key>offset</key>
                <string>{-37,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,76},{83,33}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,339},{75,23}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,77},{75,23}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,330},{63,41}}</string>
                <key>offset</key>
                <string>{42,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,34},{63,41}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,134},{83,27}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,87},{83,27}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,157},{49,45}}</string>
                <key>offset</key>
                <string>{-30,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,86},{49,45}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_attack_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,364},{57,49}}</string>
                <key>offset</key>
                <string>{-35,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,72},{57,49}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{91,51}}</string>
                <key>offset</key>
                <string>{21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,81},{91,51}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,199},{75,71}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,81},{75,71}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,41},{45,91}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,62},{45,91}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,113},{59,83}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,79},{59,83}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,246},{63,41}}</string>
                <key>offset</key>
                <string>{28,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,78},{63,41}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{67,57}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,85},{67,57}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,80},{65,83}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,65},{65,83}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,349},{69,71}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,82},{69,71}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,519},{61,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,78},{61,65}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,137},{37,81}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,77},{37,81}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,55},{19,91}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,58},{19,91}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,76},{21,89}}</string>
                <key>offset</key>
                <string>{-23,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,74},{21,89}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,86},{9,29}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,77},{9,29}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,540},{21,49}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,84},{21,49}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,529},{35,61}}</string>
                <key>offset</key>
                <string>{30,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,77},{35,61}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,509},{29,53}}</string>
                <key>offset</key>
                <string>{28,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,89},{29,53}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,217},{13,69}}</string>
                <key>offset</key>
                <string>{-22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,74},{13,69}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,188},{25,79}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,75},{25,79}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,88},{47,83}}</string>
                <key>offset</key>
                <string>{-26,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,57},{47,83}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,174},{41,83}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,72},{41,83}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{83,45}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,75},{83,45}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,395},{71,57}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,77},{71,57}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,425},{43,67}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,60},{43,67}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,470},{57,61}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,75},{57,61}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,566},{55,35}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,77},{55,35}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,589},{27,25}}</string>
                <key>offset</key>
                <string>{20,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,81},{27,25}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,425},{23,65}}</string>
                <key>offset</key>
                <string>{28,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,64},{23,65}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,564},{21,35}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,79},{21,35}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,420},{69,59}}</string>
                <key>offset</key>
                <string>{-31,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,74},{69,59}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,448},{67,69}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,75},{67,69}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,364},{59,73}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,58},{59,73}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_run_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{65,71}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,73},{65,71}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,324},{69,73}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,78},{69,73}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,278},{69,73}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,77},{69,73}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,343},{71,73}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,77},{71,73}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{69,73}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,77},{69,73}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,263},{75,59}}</string>
                <key>offset</key>
                <string>{21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,80},{75,59}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,217},{75,59}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,79},{75,59}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{75,59}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,79},{75,59}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,282},{75,59}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,80},{75,59}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,80},{17,81}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,75},{17,81}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,176},{21,81}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,75},{21,81}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,163},{23,81}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,75},{23,81}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,163},{21,81}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,75},{21,81}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,423},{39,49}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,80},{39,49}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,118},{37,47}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,81},{37,47}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{35,49}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,80},{35,49}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,464},{37,49}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,80},{37,49}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,492},{35,67}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,84},{35,67}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,455},{35,73}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,78},{35,73}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{33,73}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,78},{33,73}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,416},{37,73}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,78},{37,73}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,275},{63,53}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,75},{63,53}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,481},{65,53}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,76},{65,53}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,454},{65,53}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,76},{65,53}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,208},{65,53}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,76},{65,53}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,47},{11,37}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,78},{11,37}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,325},{13,35}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,79},{13,35}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,288},{13,35}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,78},{13,35}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,196},{13,37}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,79},{13,37}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,272},{75,65}}</string>
                <key>offset</key>
                <string>{-22,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,74},{75,65}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,196},{75,65}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,74},{75,65}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,373},{73,67}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,73},{73,67}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>6_0_w_0_0_standby_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,215},{75,65}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,74},{75,65}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainWeapon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbef4c5009f6c709fa820ece6fc70a8c$</string>
            <key>textureFileName</key>
            <string>MainWeapon.png</string>
        </dict>
    </dict>
</plist>
