<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_0_w_0_0_attack_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,450},{77,107}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,48},{77,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,930},{77,91}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,63},{77,91}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,103},{77,99}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,56},{77,99}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,904},{73,105}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{73,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,684},{71,109}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,49},{71,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,210},{85,99}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,58},{85,99}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,448},{75,105}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,54},{75,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{57,107}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,51},{57,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,232},{75,111}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,46},{75,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{69,97}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,65},{69,97}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,345},{69,111}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{69,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,573},{75,109}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,50},{75,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,795},{51,109}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,50},{51,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,109},{87,103}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,55},{87,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,339},{71,109}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,51},{71,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,460},{71,111}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,49},{71,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{47,115}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,45},{47,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,325},{89,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,64},{89,101}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,347},{75,111}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,55},{75,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,353},{63,113}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,49},{63,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,569},{89,107}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,47},{89,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{79,95}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,58},{79,95}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,559},{77,105}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,50},{77,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,226},{71,107}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,48},{71,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,930},{89,111}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,49},{89,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,543},{63,103}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{63,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,906},{67,109}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{67,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,795},{67,109}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,49},{67,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,115},{59,111}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,46},{59,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{87,99}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,61},{87,99}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,678},{77,107}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,53},{77,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,115},{53,111}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,48},{53,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,462},{31,113}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,41},{31,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,700},{47,113}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,41},{47,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,117},{53,113}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,41},{53,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,236},{39,115}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,39},{39,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,704},{43,115}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,40},{43,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,117},{57,113}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,42},{57,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,815},{45,113}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,42},{45,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,347},{43,113}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,40},{43,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,698},{37,113}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,40},{37,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,585},{45,113}}</string>
                <key>offset</key>
                <string>{-22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,40},{45,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,117},{61,113}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,39},{61,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,815},{43,113}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,40},{43,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{49,115}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,39},{49,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{51,115}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,41},{51,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{67,115}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,42},{67,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,585},{49,113}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,38},{49,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,815},{47,113}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,39},{47,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,700},{47,113}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,38},{47,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,470},{65,113}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,38},{65,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{49,115}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,38},{49,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,470},{31,115}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,38},{31,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{47,115}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,37},{47,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{51,113}}</string>
                <key>offset</key>
                <string>{19,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,39},{51,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,583},{37,113}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,39},{37,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,353},{39,115}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,38},{39,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,821},{45,115}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,40},{45,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,115}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,40},{67,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,468},{43,113}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,38},{43,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{45,115}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,38},{45,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,228},{55,111}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,38},{55,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{47,111}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,38},{47,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_idle_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,587},{43,115}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,38},{43,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,111},{97,105}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,40},{97,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,662},{81,103}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,49},{81,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,795},{95,107}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{95,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{83,103}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,50},{83,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,684},{67,109}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,39},{67,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,555},{67,105}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{67,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,339},{77,107}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{77,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,904},{75,105}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,47},{75,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,458},{75,109}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,41},{75,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,214},{65,101}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,50},{65,101}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,345},{69,111}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{69,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,329},{61,105}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,49},{61,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{57,113}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,38},{57,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{55,107}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,47},{55,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{63,113}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,37},{63,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,436},{65,105}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,47},{65,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,232},{55,113}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,40},{55,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,107},{55,101}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{55,101}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,232},{59,113}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,39},{59,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,218},{59,105}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,49},{59,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,222},{99,105}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,38},{99,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,773},{81,103}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,48},{81,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{95,105}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,37},{95,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{83,105}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,47},{83,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{77,109}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,37},{77,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,113},{67,107}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,46},{67,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,228},{79,109}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,36},{79,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,329},{75,105}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,46},{75,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{67,111}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,39},{67,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,436},{63,103}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,48},{63,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,115},{77,109}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,39},{77,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,666},{73,105}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{73,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainRun.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac9abb83021cc6b05cd80b9691b788c5$</string>
            <key>textureFileName</key>
            <string>MainRun.png</string>
        </dict>
    </dict>
</plist>
