<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_0_w_0_0_attack_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,224},{77,107}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,48},{77,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,876},{77,91}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,63},{77,91}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,214},{77,99}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,56},{77,99}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{73,105}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{73,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,339},{71,109}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,49},{71,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,323},{85,99}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,58},{85,99}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,333},{75,105}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,54},{75,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,789},{57,107}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,51},{57,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,692},{75,111}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,46},{75,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,107},{69,97}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,65},{69,97}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,805},{69,111}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{69,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{75,109}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,50},{75,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,678},{51,109}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,50},{51,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,918},{87,103}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,55},{87,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,454},{71,109}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,51},{71,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{71,111}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,49},{71,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{47,115}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,45},{47,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,773},{89,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,64},{89,101}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,579},{75,111}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,55},{75,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,476},{63,113}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,49},{63,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,450},{89,107}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,47},{89,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{79,95}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,58},{79,95}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,446},{77,105}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,50},{77,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{71,107}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,48},{71,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,466},{89,111}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,49},{89,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,2},{63,103}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{63,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,113},{67,109}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{67,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,226},{67,109}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,49},{67,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,115},{59,111}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,46},{59,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,434},{87,99}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,61},{87,99}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,337},{77,107}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,53},{77,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_attack_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,228},{53,111}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,48},{53,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,783},{97,105}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,40},{97,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,109},{81,103}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,49},{81,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,565},{95,107}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{95,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,329},{83,103}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,50},{83,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{67,109}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,39},{67,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,781},{67,105}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{67,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,113},{77,107}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{77,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,111},{75,105}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,47},{75,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,567},{75,109}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,41},{75,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,660},{65,101}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,50},{65,101}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,805},{69,111}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{69,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,553},{61,105}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,49},{61,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,827},{57,113}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,38},{57,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,674},{55,107}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,47},{55,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,829},{63,113}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,37},{63,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,666},{65,105}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,47},{65,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,591},{55,113}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,40},{55,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,547},{55,101}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{55,101}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,712},{59,113}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,39},{59,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,440},{59,105}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,49},{59,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,898},{99,105}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,38},{99,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,218},{81,103}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,48},{81,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,674},{95,105}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,37},{95,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,559},{83,105}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,47},{83,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,115},{77,109}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,37},{77,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{67,107}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,46},{67,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,228},{79,109}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,36},{79,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,222},{75,105}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,46},{75,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{67,111}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,39},{67,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,888},{63,103}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,48},{63,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,944},{77,109}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,39},{77,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_run_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,890},{73,105}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{73,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,359},{41,115}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,40},{41,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,478},{41,115}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,40},{41,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,595},{37,115}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,40},{37,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,712},{37,115}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,40},{37,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,115},{47,111}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,40},{47,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,228},{47,111}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,40},{47,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,228},{43,111}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,40},{43,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,341},{43,111}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,40},{43,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,595},{37,115}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,41},{37,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{39,117}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,40},{39,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{37,117}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,40},{37,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{37,117}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,40},{37,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,341},{47,111}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,40},{47,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,115},{49,111}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,40},{49,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{47,111}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,40},{47,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{45,111}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,40},{45,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{47,115}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,40},{47,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,117}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,39},{47,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{45,117}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,39},{45,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{45,117}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,39},{45,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,351},{41,113}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,39},{41,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,236},{41,113}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,39},{41,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,236},{39,113}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,39},{39,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,351},{37,113}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,39},{37,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{37,111}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,40},{37,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,115},{37,111}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,40},{37,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,341},{35,111}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,40},{35,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,454},{35,111}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,40},{35,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,821},{49,113}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,40},{49,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,706},{49,113}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,40},{49,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,121},{45,113}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,40},{45,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>1_0_w_0_0_standby_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{43,113}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,40},{43,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainRun.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7ef556b12dc59d20746df564dddfa36$</string>
            <key>textureFileName</key>
            <string>MainRun.png</string>
        </dict>
    </dict>
</plist>
