<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_yuanhun_w_attack_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,599},{71,133}}</string>
                <key>offset</key>
                <string>{-20,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,27},{71,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{77,141}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,22},{77,141}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1589},{125,101}}</string>
                <key>offset</key>
                <string>{19,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,51},{125,101}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,363},{81,135}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,44},{81,135}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{81,135}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,28},{81,135}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{67,141}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,25},{67,141}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1807},{93,107}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,48},{93,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,300},{93,135}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,42},{93,135}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,599},{71,133}}</string>
                <key>offset</key>
                <string>{-20,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,27},{71,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,150},{75,137}}</string>
                <key>offset</key>
                <string>{-17,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,20},{75,137}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,996},{113,97}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,55},{113,97}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{51,133}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,47},{51,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{81,135}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,28},{81,135}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{61,143}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,24},{61,143}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1844},{75,107}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,48},{75,107}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,683},{65,133}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,43},{65,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,672},{65,133}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,26},{65,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{63,133}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,17},{63,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1929},{71,91}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,57},{71,91}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,831},{65,131}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,47},{65,131}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{79,131}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,27},{79,131}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,65},{71,141}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,20},{71,141}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1336},{127,97}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,52},{127,97}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1048},{79,129}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,45},{79,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{73,133}}</string>
                <key>offset</key>
                <string>{20,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,28},{73,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,143}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,22},{77,143}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,649},{101,103}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,49},{101,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1275},{51,129}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,44},{51,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,531},{79,133}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,25},{79,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,227},{67,137}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,18},{67,137}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1836},{99,91}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,56},{99,91}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_attack_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{97,129}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,47},{97,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,145},{77,133}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,33},{77,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,514},{83,133}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,31},{83,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,280},{91,133}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,30},{91,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,612},{69,133}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,41},{69,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1202},{71,129}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,35},{71,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,138},{87,139}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,31},{87,139}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,750},{79,131}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,30},{79,131}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,296},{65,137}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,41},{65,137}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{83,129}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,33},{83,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,898},{63,131}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,29},{63,131}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1026},{83,129}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,30},{83,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1205},{71,129}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,41},{71,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{71,131}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,34},{71,131}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{75,141}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,31},{75,141}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1192},{71,129}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,31},{71,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{73,139}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,41},{73,139}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1518},{67,127}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,34},{67,127}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1523},{71,127}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,30},{71,127}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1447},{69,127}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,30},{69,127}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{71,125}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,42},{71,125}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,830},{75,131}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,35},{75,131}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{83,133}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,30},{83,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,739},{89,131}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,31},{89,131}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1129},{71,129}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,41},{71,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,446},{83,133}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,35},{83,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,81},{67,141}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,30},{67,141}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{85,133}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,30},{85,133}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,227},{71,137}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,40},{71,137}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1265},{69,129}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,33},{69,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1435},{87,127}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,30},{87,127}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1111},{79,129}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,30},{79,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_idle_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1524},{63,127}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,41},{63,127}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1095},{115,125}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{115,125}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,395},{133,117}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,38},{133,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1328},{127,117}}</string>
                <key>offset</key>
                <string>{19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,39},{127,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1414},{117,125}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,41},{117,125}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,963},{83,129}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,39},{83,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1708},{97,121}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,36},{97,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,415},{93,121}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,36},{93,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{85,127}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,39},{85,127}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1921},{107,117}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,41},{107,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,881},{113,109}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,41},{113,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,538},{103,109}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,42},{103,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1692},{101,121}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,41},{101,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{73,129}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,39},{73,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1669},{69,123}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,34},{69,123}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1795},{47,121}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,36},{47,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{57,129}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,37},{57,129}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1930},{65,111}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,43},{65,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1769},{65,105}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,42},{65,105}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1807},{47,109}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,42},{47,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1918},{53,117}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,42},{53,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1650},{117,123}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,40},{117,123}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{137,117}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{137,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,907},{129,117}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,39},{129,117}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1587},{119,125}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,39},{119,125}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,752},{107,127}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{107,127}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1541},{107,121}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,35},{107,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1740},{97,121}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,37},{97,121}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1337},{97,127}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,38},{97,127}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1222},{83,115}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,42},{83,115}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1307},{105,111}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,39},{105,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{101,111}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{101,111}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2_yuanhun_w_run_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1839},{89,119}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,42},{89,119}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPCRun.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dcfefeb82e816fc0302ff2a8a365bd9$</string>
            <key>textureFileName</key>
            <string>NPCRun.png</string>
        </dict>
    </dict>
</plist>
