<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_langren_m_attack_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,416},{134,146}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,93},{134,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{150,146}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,93},{150,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{134,152}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,87},{134,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,682},{142,136}}</string>
                <key>offset</key>
                <string>{18,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,103},{142,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1090},{134,138}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,101},{134,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,552},{134,144}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,95},{134,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,150},{134,148}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,91},{134,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,956},{134,138}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,101},{134,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,138},{144,150}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,89},{144,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,410},{134,146}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,93},{134,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{134,154}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,85},{134,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1634},{134,134}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,105},{134,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1500},{134,134}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,105},{134,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{134,146}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,93},{134,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,138},{134,148}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,91},{134,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,818},{134,142}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,97},{134,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,138},{134,148}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,91},{134,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,420},{134,146}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,93},{134,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,156}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,83},{134,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1368},{134,134}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,105},{134,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,954},{134,140}}</string>
                <key>offset</key>
                <string>{20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,99},{134,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{150,146}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,93},{150,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{134,152}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,87},{134,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{144,138}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,101},{144,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,824},{138,134}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,105},{138,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,410},{134,146}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,93},{134,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,138},{134,150}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,89},{134,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,820},{134,140}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,99},{134,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,286},{134,146}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,93},{134,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,546},{134,144}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,95},{134,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{134,154}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,85},{134,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_attack_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1238},{134,134}}</string>
                <key>offset</key>
                <string>{-10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,105},{134,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{140,142}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,97},{140,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1912},{134,118}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,121},{134,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,274},{140,146}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,93},{140,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{134,118}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,121},{134,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,558},{136,142}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,97},{136,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1640},{134,120}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,119},{134,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,556},{134,146}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,93},{134,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1632},{134,120}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,119},{134,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,692},{134,144}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,95},{134,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1780},{134,118}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,121},{134,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,546},{134,146}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,93},{134,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1900},{134,116}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,123},{134,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,682},{134,144}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,95},{134,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,422},{134,124}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,115},{134,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,274},{134,148}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,91},{134,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1506},{134,122}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,117},{134,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,558},{134,144}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,95},{134,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1630},{134,120}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,119},{134,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{134,148}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,91},{134,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1912},{134,116}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,123},{134,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,688},{134,142}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,97},{134,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1770},{134,118}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,121},{134,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,422},{134,146}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,93},{134,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1510},{134,120}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,119},{134,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{134,142}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,97},{134,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1382},{134,122}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,117},{134,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,284},{134,148}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,91},{134,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1636},{134,122}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,117},{134,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,828},{134,142}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,97},{134,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,286},{134,120}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,119},{134,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,274},{134,148}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,91},{134,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_run_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1760},{134,118}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,121},{134,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{134,138}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,101},{134,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1110},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_e_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,838},{136,134}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,105},{136,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_e_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1236},{134,138}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,101},{134,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_en_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1508},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_en_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1504},{134,134}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,105},{134,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_en_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1498},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_es_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1226},{134,138}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,101},{134,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_es_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1374},{134,134}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,105},{134,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_es_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1246},{134,134}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,105},{134,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_es_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1364},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,702},{134,140}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,99},{134,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1092},{134,138}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,101},{134,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1232},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,960},{134,138}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,101},{134,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,694},{134,140}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,99},{134,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1102},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{134,134}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,105},{134,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,974},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{134,140}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,99},{134,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1384},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1372},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,830},{134,138}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,101},{134,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_wn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,964},{134,140}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,99},{134,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_wn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1362},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_wn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1228},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_wn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{134,138}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,101},{134,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_ws_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1100},{134,138}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,101},{134,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_ws_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1096},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_ws_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1644},{134,134}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,105},{134,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2_langren_m_standby_0_ws_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,966},{134,136}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,103},{134,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPCRun.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cb6ea2f6ed7c4e4f5df75e49a86fc7b$</string>
            <key>textureFileName</key>
            <string>NPCRun.png</string>
        </dict>
    </dict>
</plist>
